@model Lib4U.Models.BookSuggestion
<section class="page-banner services-banner">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="index-2.html">Home</a></li>
                <li>Book Suggestion</li>
            </ul>
        </div>
    </div>
</section>
<div class="container">

    @using (Html.BeginForm("Create", "BookSuggestions"))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Book purchase suggestion form</h4>
        <p class="p-3">
            We welcome suggestions from current students and staff, in both Economics and Development Studies, for the purchase of books that would improve the teaching and research provision of the Marshall Library. Please provide as much information as possible. If you would like to suggest multiple titles, please email us at marshlib[replacewithatsign]hermes.cam.ac.uk.

            We aim to respond to you with a decision within one working day; if you haven't received a reply after 3 days, please email us again.

            Once the purchased title has arrived, been catalogued and fully processed you will receive an email as soon as the book is available for you to borrow.
        </p>
        <hr />
        @Html.ValidationSummary(true, "Please fix the following errors", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Publisher, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Publisher, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Publisher, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PublishcationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PublishcationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PublishcationDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ReasonForSuggestion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReasonForSuggestion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReasonForSuggestion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }
</div>
